/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #008cba;
    color: white;
    padding: 1rem 0;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background-image: url("Fondo\ Banner\ De\ Bienestar\ Público\ Plano\ Del\ Día\ Mundial\ De\ La\ Salud\ Fondo\,\ Día\ Mundial\ De\ La\ Salud\,\ 7\ De\ Abril\,\ Bienestar\ Público\ Comunitario\ Imagen\ de\ Fondo\ Para\ Descarga\ Gratuita\ -\ Pngtreee.jfif");
    background-position: center;
    color: white;
    text-align: center;
    padding: 4rem 0;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

.search-form button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #005f7f;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #00709f;
}

/* Section Styles */
.section {
    padding: 2rem 0;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1.1rem;
    color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
